:root {
    --first-color: #FF595E;
    --second-color: #FFCA3A;
    --third-color: #8AC926;
    --fourth-color: #1982C4;
    --fifth-color: #6A4C93;
}
.home{
    background: #222222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 24px 1px black;
    color: white;
    overflow: hidden;
}
#blinker{
    display: inline-boock;
    width: 0px;
    height: 5rem;
    animation: blink 1s infinite ease-in-out;
    color: white;
}
#intro{
    font-size: 5rem;
    display: inline-block;
    text-align: center;
    margin: 2rem;
}
#intro::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    animation: intro-fade-out 2s 1 ease-out;
    z-index: -1;
}

#fadeToBlack{
    background: transparent;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: intro-fade-in 1s ease-in;
    z-index: 1000;
}
code{
    color: rgb(0, 190, 0);
}
#skip{
    position: absolute;
    left: 50%;
    top: calc(100% - 100px);
    transform: translate(-50%, -50%);
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    animation: fade-in 5s ease-in;
    border-radius: 25px;
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 0 8px 1px black;
    font-size: 1.5rem;
}


nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-bottom: 325px;
    /* background: radial-gradient(circle, var(--fourth-color) 0%, var(--fifth-color) 100%); */
}
nav::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    animation: intro-fade-out 1s 1 ease-out;
    z-index: -1;
}

.destination{
    font-size: 3rem;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-bottom: 6px;
    opacity: 1;
    transition: all .25s ease;
}

ul{
    list-style-position: inside;
    list-style-type: none;
    font-size: 2rem;
}

ul li{
    box-shadow: 0 0 8px 1px black;
}

#links-layer-1{
    display: flex;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all .5s ease;
}

#links-layer-1 > li{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all .5s ease;
    color: var(--first-color);
}
#links-layer-1 > li:after{
    content: attr(data-name);
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: auto;
    height: 50px;
    font-size: 12px;
    opacity: 0;
    transition: all .25s ease;
}
#links-layer-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0s z-index;
}
.hasSubLinks:hover #links-layer-2{
    transition-delay: .25s;
    z-index: 1;
}
.hasSubLinks:hover #links-layer-2 > li{
    box-shadow: 0 0 8px 1px black;
}
#links-layer-2:hover > li{
    box-shadow: 0 0 8px 1px black;
}
#links-layer-2 > li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all .25s ease;
    transition-delay: 0;
    box-shadow: 0 0 8px 1px transparent;
}
#links-layer-2 > li a{
    color: var(--fifth-color);
}

.profilePic{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url(../images/3B6A1400.jpg);
    background-position: center;
    background-size: 250%;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 1px black;
}

a{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: white;
    color: var(--first-color);
}
.fa-address-card{
    color: var(--first-color);
}
.fa-box-open{
    color: var(--second-color);
}
.fa-user-circle{
    color: var(--third-color);
}
.fa-envelope-open-text{
    color: var(--fourth-color);
}

@keyframes blink {
    0%{opacity: 1}
    10%{opacity: 1}
    40%{opacity: 0}
    50%{opacity: 0}
    60%{opacity: 0}
    90%{opacity: 1}
    100%{opacity: 1}
}

@keyframes intro-fade-out{
    0%{background: black; z-index: 1;}
    30%{background: black; z-index: 1;}
    90%{z-index: 1;}
    100%{background: transparent; z-index: -1;}
}
@keyframes intro-fade-in{
    0%{background: transparent;}
    30%{background: transparent;}
    100%{background: black;}
}
@keyframes fade-in{
    0%{opacity: 0;}
    30%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}

@media only screen and (max-width: 500px) {
    .destination{
        opacity: 0;
    }
    #links-layer-1 > li:after{
        opacity: 1;
    }
}   