.projects{
    width: 100vw;
    min-height: 100vh;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: inset 0 0 24px 1px black;
    position: relative;
    overflow-x: hidden;
}
.projects a{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin: 32px 0;
}

.projects button{
    width: 28px;
    height: 28px;
    border-radius: 25px;
    margin: 8px 0;
    border: none;
    font-size: 20px;
    color: rgb(16, 107, 146);
    cursor: pointer;
    position: relative;
}
.projects button img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.projects button span{
    opacity: 0;
    min-width: 120px;
    background-color: rgba(60, 60, 60, .65);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(20%, -50%);
    transition: all .5s ease;
}
.projects button:hover span{
    opacity: 1;
    animation: fade-in .5s ease 1;
}
.projects button:hover span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 99%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(60, 60, 60, .65) transparent transparent;
    animation: fade-in .4s ease 1;
  }

.project{
    height: 100vh;
    width: 100%;
    background: transparent;
    overflow-x: hidden;
    padding: 0 128px;
}

.project span{
    padding: 4px 8px;
    border-radius: 15px;
    background: white;
    color: black;
    margin: 4px;
}

.project div{
    margin: 8px 0;
    min-height: 20px;
}

.project a{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: underline;
    background: transparent;
    color: var(--first-color);
    margin: 8px 0;
}

.project *{
    margin: 8px 0;
}

.scroll-to-container{
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}